*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    background: #fff;
}
.logo{
    width: 50px;
    margin-right: 45px;
    cursor: pointer;
}

.search-box{
    background: transparent;
    width: 800px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
}
.search-box i{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
}
.search-box .search-btn{
    background: transparent;
    outline: none;
    color: #1876f2;
    height: 100%;
    width: 100px;
    font-size: 15px;
    padding: 10px 13px;
    margin: 0;
    justify-self: center;
    cursor: pointer;
    border-left: 0.1px solid lightgrey;
}
.search-btn:hover{
    background: #CCE5FF;
}
.search-btn:active{
    background: #99CCFF;
}
.nav-link{
    display: flex;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    
}

.account{
    background: #fff;
    align-items: center;
    width: 250px;
    position: absolute;
    box-shadow: 0 0 4px #626262;
    z-index: 100;
    border-radius: 10px;
    right: 163px;
    top: 45px;
    padding: 10px 0;
    display: none;
}
.account.active{
    display: block;
}
.account p{
    padding: 10px 15px;
    width: 100%;
    
    font-size: 15px;
}
.account p:hover{
    background: #E0E0E0;
}
.account p:active{
    background: #C0C0C0;
}
.account a{
    color: #000;
}

nav a{
    text-decoration: none;
    color: #626262;
}

.nav-link:hover{
    background: #E0E0E0;
    display: block;
}
.nav-link:active{
    background: #C0C0C0;
}
.nav-link.account1:hover, .nav-link.cart:hover{
    background: #CCE5FF;
}
.nav-link.account1:active, .nav-link.cart:active{
    background: #99CCFF;
}
.extra{
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFF99;
    display: flex;
    height: 40px;
}
.extra a{
    text-decoration: none;
    color: black;
}
.address{
    display: flex;
    padding-right: 80px;
    justify-content: right;
    height: 25px;
    align-items: center;
    color: #626262;
    font-size: 15px;
    background: #fff;
}
.address p{
    cursor: pointer;
}
.address a{
    color: black;
    font-weight: 600

}

.page-info{
    height: 50px;
}

.container{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 200vh;
    padding: 0 10%;
}
.left-side{
    background: #fff;
    
    width: 20%;
}
.right-side{
    
    width: 78.5%;
}
.right-side p{

    font-size: 22px;
    width: 100%;

    padding: 15px 0;
}
.account-info{
    width: 100%;
    border-radius: 10px;
    background: #fff;
    height: 80vh;
    padding: 20px;
    display: flex;
}
.personal-info{
    position: relative;
    width: 60%;
    border-right: 1px solid #C0C0C0;
    padding: 0 0;
}
.personal-info p{
    font-size: 17px;
    color: #626262;

    padding: 0;
}
.personal-info img{
    position: relative;
    width: 110px;
    border-radius: 50%;
    border: 4px solid #cce5ff;
}

.name{
    display: flex;
    align-items: center;
    width: 100%;
}
.input-detail{
    width: 100%;
    position: relative;

    border-radius: 10px;
}
.input-detail label{
    margin: 10px;
    color: #626262;
    font-size: 15px;
}
.input-detail input{
    margin: 10px;
    margin-left: 100px;
    width: 200px;
    height: 30px;
}