*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}
body{
    background: #efefef;
    width: 16in;
}
@media screen {
    body{
        width: 16in;
    }
}
header{
    padding: 5px 0 5px 4%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid; */
    background: #fff;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    top: 0;
    z-index: 100;
    width: 60%;
    height: 50px;
    /* border: 1px solid; */
}
.logo{
    width: 57px;
    margin-right: 45px;
    cursor: pointer;
}
.search-box{
    background: transparent;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
}
.search-box i{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
}
.search-box .search-btn{
    background: transparent;
    outline: none;
    color: #1876f2;
    height: 100%;
    width: 100px;
    font-size: 15px;
    /* padding: 10px 13px; */
    margin: 0;
    padding: auto;
    justify-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    /* border: 1px solid; */
}
.search-box .search-btn p{
    border-left: 0.1px solid lightgrey;
    margin: auto;
    /* border: 1px solid; */
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 2.5px 0;
}
.search-btn:hover{
    background: #CCE5FF;
}
.search-btn:active{
    background: #99CCFF;
}
.nav-link{
    display: flex;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    
}
nav a{
    text-decoration: none;
    color: #626262;
}

.nav-link:hover{
    background: #E0E0E0;
    display: block;
}
.nav-link:active{
    background: #C0C0C0;
}
.nav-link.home a, .nav-link.cart a{
    color: #1876f2;
}
.nav-link.home:hover, .nav-link.cart:hover{
    background: #CCE5FF;
}
.nav-link.home:active, .nav-link.cart:active{
    background: #99CCFF;
}
.account-dropbar{
    background: #fff;
    align-items: center;
    width: 250px;
    position: absolute;
    box-shadow: 0 0 4px #626262;
    z-index: 100;
    border-radius: 10px;
    right: 9%;
    top: 50px;
    padding: 10px 0;
    display: none;
}
.account-dropbar.active{
    display: block;
}
.account-dropbar p{
    padding: 10px 15px;
    width: 100%;
    
    font-size: 15px;
}
.account-dropbar p:hover{
    background: #E0E0E0;
}
.account-dropbar p:active{
    background: #C0C0C0;
}
.account-dropbar a{
    color: #000;
}
.extra{
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFF99;
    display: flex;
    height: 40px;
}
.extra a{
    text-decoration: none;
    color: black;
}
.address{
    display: flex;
    padding-right: 3%;
    justify-content: right;
    height: 30px;
    align-items: center;
    color: #626262;
    /* font-size: 1rem; */
    background: #fff;
    width: 100%;
    /* border: 1px solid; */
}
.address p{
    cursor: pointer;
}
.address a{
    color: black;
    font-weight: 600

}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    position: relative;
}

.left-side{
    position: sticky;
    overflow-y: scroll;
    
    top: 15px;
    height: 100vh;
}

.left-side::-webkit-scrollbar {
    display: none;
}
.left-sidebar{
    flex-basis: 18%;
    /* width: 100%; */
    align-self: flex-start;
    background: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    color: #626262;
}
.left-sidebar.a{
    margin-bottom: 10vh;
}

.utilities a{
    text-decoration: none;
    display: flex;
    align-items: center;
    
    color: #626262;
    width: fit-content;
}
.utilities p{
    margin: 10px 0 10px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.utilities a img{
    width: 25px;
    border-radius: 10px;
    margin-right: 15px;
}
.utlt{
    border-radius: 10px;
    padding: 15px;
    height: 50px;
    transition: ease 0.5s;
    margin: 0 -12px;
}
.utlt:hover{
    background: #E0E0E0;
    transition: ease 0.5s;
}
.utlt:active{
    background: #C0C0C0;
}

.main-content{
    flex-basis: 80%;
    justify-content: space-between;
}
.promotion{

    align-items: center;
    display: flex;
    justify-content: space-between;
}
.promote-left{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-position: center;
    height: 250px;
    width: 69%;
    border-radius: 10px;
    background: #fff;
    padding: 0;
    display: flex;
    object-fit: contain;
    justify-content: space-around;
}
.promote-left img{
    width: 100%;
    height: 100%;
}
.carousel{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 30%;
    bottom: 10px;
}
.carousel img{
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 40px;
    border-radius: 5px;
    height: 2px;
}
.carousel img.active{
    background: #fff;
}
.promote-left button{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 50%;
    margin: 15% 0;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.promote-left button.active{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}
.promote-left .left{
    left: 10px;
}
.promote-left .right{
    right: 10px;
}
.promote-right{
    background: url('./images/voucher-2.jpg') no-repeat;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 29%;
    border-radius: 10px;
}
.prominent-product{
    border-radius: 10px;
    background: #fff;
    padding: 15px 1.5%;
    position: relative;
}
.countdown{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 10px;
    left: 160px;
}
.countdown p{
    margin: 4px 5px 0;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50%;
    display: flex;
}
.countdown div{
    display: flex;
    position: relative;
    background: #ff6666;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    height: 25px;
    width: 25px;
    padding: 5px;
    margin: 0;
    justify-content: center;
}
.prominent-product p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.production-list{
    display: flex;
    justify-content: space-between;
}
.product{
    position: relative;
    width: 15.5%;
    height: 250px;
    border-radius: 10px;   
    /* --------------------------------product box---------------------- */
    box-shadow: 0 0 0.7px #626262;
    overflow: hidden;
    cursor: pointer;
}
.product span{
    position: absolute;
    width: 100%;
    background: linear-gradient(150deg, #66b2ff, #1876f2);
    bottom: 0;
    height: 25%;
    padding: 3% 6%;
    color: #fff;
    justify-content: space-around;
}
.product.one{
    background: url('./images/product-2.jpg') no-repeat;
    background-size: contain;
}
.product.two{
    background: url('./images/product-3.webp') no-repeat;
    background-size: contain;
}
.product.three{
    background: url('./images/product-4.jpg') no-repeat;
    background-size: contain;
}
.product.four{
    background: url('./images/product-5.webp') no-repeat;
    background-size: contain;
}
.product.five{
    background: url('./images/product-6.jpg') no-repeat;
    background-size: contain;
}
.product.six{
    background: url('./images/product-7.webp') no-repeat;
    background-size: contain;
}
.add{
    position: absolute;
    background: yellow;
    box-shadow: 0 0 2px yellow;
    width: 97%;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 110%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    z-index: 100;
}
.add p{
    font-size: 13px;
    font-weight: 600px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}
.product.dsale{
    padding: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: none;
    box-shadow: none;
}
.product.dsale p{
    position: absolute;
    top: 73%;
    font-size: 17px;
    font-weight: 550;
    color: #ff3333;
    width: 100%;
    text-align: center;
}
.product.dsale::after{
    content: '';
    position: absolute;
    background: #ffcccc;
    border-radius: 4px;
    font-size: 12px;
    top: 2%;
    left: 2%;
    color: #ff3333;
    font-weight: 600;
    padding: 2%;
}
.product.dsale.one::after{
    content: '-36%';
}
.product.dsale.two::after{
    content: '-21%';
}
.product.dsale.three::after{
    content: '-29%';
}
.product.dsale.four::after{
    content: '-41%';
}
.product.dsale.five::after{
    content: '-34%';
}
.product.dsale.six::after{
    content: '-28%';
}
.progress{
    position: absolute;
    display: block;
    align-self: center;
    width: 100%;
    height: 20px;
    bottom: 5%;
    border-radius: 10px;
    background: #ff9999;
    overflow: hidden;
    color: #fff;
}
.progress a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 1.5%;
    z-index: 100;
}
.progress::after{
    content: '';
    position: absolute;
    height: 100%;
    background: #ff3333;
    
    border-radius: 10px;
}
.product.dsale.one .progress::after{
    width: 30px;
}
.product.dsale.two .progress::after{
    width: 20px;
}
.product.dsale.three .progress::after{
    width: 50px;
}
.product.dsale.four .progress::after{
    width: 30px;
}
.product.dsale.five .progress::after{
    width: 70px;
}
.product.dsale.six .progress::after{
    width: 20px;
}
.prominent-product.official{
    background: linear-gradient(#cce5ff, #fff);
    position: relative;
}
.prominent-product.official .official-tag{
    position: absolute;
    top: 5%;
    left: 18.5%;
    background: linear-gradient(150deg, #0000cc, #3399ff);
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    padding: 0.2%;
    border-radius: 15px;
    width: 6%;
    text-align: center;
}
.product.office{
    position: relative;
    background: #fff;
    justify-content: space-around;
    
}
.product.office .brand-img{
    width: 100%;
    height: 100%;
    background: url('./images/brand1-img.jpg') no-repeat;
    background-size: contain;
}
.product.office.two .brand-img{
    background: url('./images/brand2-img.jpg') no-repeat;
    background-size: contain;
}
.product.office.three .brand-img{
    background: url('./images/brand3-img.jpg') no-repeat;
    background-size: contain;
}
.product.office.four .brand-img{
    background: url('./images/brand4-img.webp') no-repeat;
    background-size: contain;
}
.product.office.five .brand-img{
    background: url('./images/brand5-img.jpg') no-repeat;
    background-size: contain;
}
.product.office.six .brand-img{
    background: url('./images/brand6-img.jpg') no-repeat;
    background-size: contain;
}
.product.office .brand{
    position: absolute;
    box-shadow: 0 0 5px #C0C0C0;
    border-radius: 10px;
    top: 70%;
    width: 48%;
    height: 15%;
    left: 26%;
    background: url('./images/brand-1.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.product.office.two .brand{
    background: url('./images/brand-2.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.product.office.three .brand{
    background: url('./images/brand-3.jpg') no-repeat;
    background-position: center;
    background-size: contain;
}
.product.office.four .brand{
    background: url('./images/brand-4.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.product.office.five .brand{
    background: url('./images/brand-5.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.product.office.six .brand{
    background: url('./images/brand-6.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.goods-box{
    position: absolute;
    width: 100%;
    height: 48%;
    border-radius: 10px;
}
.upper{
    top: 0;
}
.lower{
    bottom: 0;
}
/* --------------------------colorful box unfinished----------------- */
.product .main-img{
    position: absolute;
    width: 90%;
    height: 60%;
    background: #fff;
    left: 5%;
    top: 3%;
    border-radius: 10px;
}
.product.odd::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 30px;
    top: 56.5%;
    border-radius: 10px;
    left: 8%;
    background: #fff;

    box-shadow: 0 0 2px #C0C0C0;
}




.product .goods-box .main-img{
    width: 38%;
    height: 50%;
    left: 55%;
    top: 7%;
}
.product.even .goods-box::after{
    content: '';
    position: absolute;
    width: 38%;
    height: 25%;
    top: 7%;
    left: 7%;
    border-radius: 10px;
    background: #fff;
}
.suggestion{
    position: relative;
    
}

.suggest{
    position: sticky;
    top: 15px;
    width: 100%;
    height: 130px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 100;
}

.suggest p{
    font-size: 15px;
    font-weight: 600;

    padding: 15px;
}
.suggest-list{
    position: absolute;
    display: flex;
    width: 100%;

    height: 80px;
    bottom: 0;
}
.suggest-list .sug{
    display: flex;
    width: 16.7%;
    position: relative;
    justify-content: center;
}
.suggest-list .sug:hover{
    background: #E0E0E0;
}
.suggest-list .sug:active{
    background: #C0C0C0;
}
.suggest-list .sug.on{
    background: #DBEBFF;
    border-bottom: 1px solid #1876f2
}
.suggest-list .sug.on:hover{
    background: #cce5ff;
}
.suggest-list .sug.on:active{
    background: #99CCFF;
}
.sug img{
    height: 50%;
    background: #fff;
    padding: 1%;
    margin: 5%;
}
.sug p{
    width: 100%;

    height: 20%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 500;
    color: #626262;
    font-size: 12px;
    margin-bottom: 10px;
}
.sug.on p{
    color: #1876f2;
}
.stuff-box{
    position: sticky;
    display: flex;
    width: 600%;
}
.stuff-container{
    width: 100%;
    transform: scale(0);
}
.stuff-container.for-you.active{
    transform: scale(1);
}
.stuff-container.daily-cheap.active{
    transform: scale(1);
    transform: translateX(-100%);
}
.stuff-container.freeship.active{
    transform: scale(1);
    transform: translateX(-200%);
}
.stuff-container.astra-plus.active{
    transform: scale(1);
    transform: translateX(-300%);
}
.stuff-container.digital-service.active{
    transform: scale(1);
    transform: translateX(-400%);
}
.stuff-container.hot-deal.active{
    transform: scale(1);
    transform: translateX(-500%);
}
.row{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}
.row .stuff{
    height: 350px;
    width: 16%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.row .stuff.big{
    width: 32.8%;
}
.stuff.big .vid{
    width: 100%;
    height: 50%;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}